* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

main{
  width: 100%;
  padding:50px;
  margin: 0;
}

.chapter8-text{
  padding: 20px;
}

.chapter8-text:nth-child(odd){
  background-color: #dcdcdc;
}