*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

header{
  width: 100%;
  background-color: #ff00ff;
  display: flex;
  padding: 30px 20px;
  justify-content: flex-end;
}

.header-box{
  flex-basis: 140px;
  height: 70px;
  background-color: #fbb3ff;
  margin: 0 10px;
}

.header-box:first-child{
  margin-right: auto;
}

main{
  width: 100%;
  display: flex;
  justify-content: center;
}

.main-box1{
  width: 300px;
  background-color: #d8ffb6;
}

.main-box2{
  max-width: 700px;
  flex-grow: 1;
  background-color: #00b522;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.main-box3{
  flex-basis: 200px;
  height: 130px;
  margin: 10px;
  background-color: #fff75a;
}

footer{
  width: 100%;
  background-color: #54a4fc;
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer-box{
  flex-basis: 45%;
  max-width: 600px;
  height: 40px;
  background-color: #b6e7ff;
  margin: 10px;

}